body{
    background-color: rgb(245, 183, 128); 
    color:white ;
    font-size: 25px;
    background-image: url('img/snopy.png');
      background-repeat:no-repeat;
    background-size: cover;
}
.cabecalho{
    background-image: url("./img/emo.png");
    height: 250px;


}
   
.cabecalho-img{
    
width: 10%;
}
.conteudo{
 margin: 0 100px
}

.caixa01{
  background-image: url("./img/caixa01.png");
  height: 224px;
  width: 358px;
  background-repeat:no-repeat;
    background-size: cover;
}