body{
    background-color: rgb(245, 183, 128); 
    color:white ;
    font-size: 25px;
    background-image: url('img/snopy.png');
      background-repeat:no-repeat;
    background-size: cover;
}
.cabecalho{
    background-image: url("./img/emo.png");
    height: 250px;


}
   
.cabecalho-img{
    
width: 10%;
}
.conteudo{
 margin: 0 100px
}

.caixa01{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/caixa01.png");
  height: 230px;
  width: 358px;
  background-repeat:no-repeat;
    background-size: cover;
    color: black;
}
<<<<<<< HEAD
.caixa02{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/caixa02.png");
  height: 230px;
  width: 358px;
  background-repeat:no-repeat;
    background-size: cover;
    color: black;
}
=======
.caixa03{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/caixa03.png");
  height: 230px;
  width: 358px;
  background-repeat:no-repeat;
    background-size: cover;
    color: black;
}
>>>>>>> de21e59c66a1df0c5c34a0657485851b001c1d8d